@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #8390fa;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #8390fa;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.buttona {
  margin-left: 10px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #8390fa;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #8390fa;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #8390fa;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #8390fa;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select,
.texttarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea,
.texttarea {
  height: 200px;
}
.create button {
  background: #8390fa;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.container--added {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: hsla(342, 87%, 58%, 0.621);
  height: 100vh;
  z-index: 999;
}

#modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.2);
}
.modalp {
  width: 100%;
  font-size: 30px;
  color: #8390fa;
  text-align: center;
}

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
